.App {
    text-align: center;
  }

.home {
    align-items: center;
    justify-content: center;
  }

.home-title {
    color: #020432;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 14%;
    margin-bottom: 20px;
}

.home-subtitle {
    color: #020432;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.home-text {
    color: #020432;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}